<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <meta http-equiv="Content-Security-Policy"
        content="default-src 'none'; img-src $csp; style-src $csp unsafe-inline; font-src $csp; script-src 'nonce-$nonce';">

    <script nonce="$nonce" src="~/index.js"></script>
    <link href="~/css/theme.css" rel="stylesheet" />
    <link href="~/css/default.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet" />
    <link href="~/css/codicon.css" rel="stylesheet" id="vscode-codicon-stylesheet" /> -->

    <script src="/index.js"></script>
    <link href="/css/theme.css" rel="stylesheet" />
    <link href="/css/default.css" rel="stylesheet" />
    <link href="/css/index.css" rel="stylesheet" />
    <link href="/css/codicon.css" rel="stylesheet" id="vscode-codicon-stylesheet" />
</head>

<body>
    <av-translation-page></av-translation-page>
</body>

</html>