<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Content-Security-Policy"
        content="default-src 'none'; img-src $csp; style-src $csp unsafe-inline; font-src $csp; script-src 'nonce-$nonce';">
    <script nonce="$nonce" src="~/index.js"></script>
    <link href="~/style.css" rel="stylesheet" id="base-style"/>

    <!-- <script src="/index.js"></script>
    <link href="/style.css" rel="stylesheet" id="base-style"/> -->
</head>

<body>
    <av-editor></av-editor>
</body>

</html>